html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px fit-content(10%) fit-content(10%);
  grid-auto-rows: auto auto;
  font-size: 1vw;
  grid-template-areas:
    "area1 area2 area2" "area1 area3 area4" "area5 area3 area4";
  place-content: center;
}

.grid-item-canvas{
 text-align: left;
  border: gray 2.5px solid;
  grid-area: area1;
}

.grid-item-selector{
  background: antiquewhite;
  height: auto;
  list-style: none;
  border: gray 2.5px solid;
  grid-area: area2;
  text-align: center;
}

.grid-item-background{
  background:antiquewhite;
  text-align: left;
  border: gray 2.5px solid;
  list-style: none;
  grid-area: area3;
}

.grid-item-text{
  background:antiquewhite;
  text-align: center;
  border: gray 2.5px solid;
  list-style: none;
  grid-area: area4;
}
.info{
  grid-area: area5;
  list-style: none;
}

.canvas{
  width: 400px;
  height: 400px;
}
.textBoxH{
  border-bottom: gray 5px solid;
}
