html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px fit-content(10%) fit-content(10%);
  justify-content: center;
  align-content: left;
  align-self: start;
}

.grid-item{
  background:antiquewhite;
  text-align: left;
  border: gray 2.5px solid;
  list-style: none;
}
.canvas{
  width: 400px;
  height: 400px;
}
.textBoxH{
  border-bottom: blue 5px solid
}
